<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

  <session-factory>

    <property name="connection.url">jdbc:mysql://localhost:3306/mqp_db_</property>
    <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
    <property name="connection.username">root</property>
    <property name="connection.password"></property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>


    <mapping class="Models.users_tbl"/>
    <mapping class="Models.files_tbl"/>
    <mapping class="Models.mail_tbl"/>
    <mapping class="Models.mail_files_tbl"/>

  </session-factory>

</hibernate-configuration>